# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.html
*.png
*.jpg
*.mp4
*.MOV
*.avi

# Model files
*.dat
*.xml

# Results
results/
output/
plots/

# Logs
*.log

# OS
Thumbs.db
desktop.ini

#something
/experiments_docs/Протокол_оценка_точности_сегментации.docx
/test_data/*
/dataset/eyes_movies/*
